#uri-list {
	position: absolute;
	width: 250px;
	overflow: hidden;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	border-right: 1px solid rgba(0,0,0,0.5);
}

#uri-list > div.sv-scroll-list {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: -30px;
	top: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}
